<div id ="simulation-data" data-id ="<%= @simulation.id %>"
data-user_id ="<%= @simulation.user_id %>"
data-routes ="<%= @simulation.routes %>"
data-operators ="<%= @simulation.operators %>"
data-facilities ="<%= @simulation.facilities %>">
<h2 class="mt-10 mb-2 text-xl font-semibold text-gray-900">フォーム</h2>
<h3 class="mt-5 text-base/7 font-semibold text-gray-900 col-span-2">シミュレーション結果</h3>
<% if !user_signed_in? %>
  <%= form_with do |form| %>
    <div class="grid grid-cols-2 gap-x-4 gap-y-2 pl-4 max-w-sm mt-2 mb-5">
    <%= form.label "サイクルタイム", class: "self-center" %>
    <%= form.number_field :simulation_cycle_time , size: "10x1", readonly: true ,class: "cursor-default border-none focus:outline-none focus:ring-0"%>

    <%= form.label "ボトルネック工程", class: "self-center" %>
    <%= form.text_area :simulation_bottleneck_process , size: "10x1", readonly: true, class: "cursor-default border-none focus:outline-none focus:ring-0 resize-none overflow-hidden"%>

    <%= form.label "待ち時間", class: "self-center" %>
    <%= form.number_field :simulation_waiting_time , size: "10x1", readonly: true, class: "cursor-default border-none focus:outline-none focus:ring-0"%>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>

  <%= form_with(model: @simulation ,url: [current_user , @simulation] ,id: "simulationForm") do |form| %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="flex">
        <div class="">
          <h3 class="mt-5 text-base/7 font-semibold text-gray-900">パラメータ</h3>
          <div class="pl-4">
            <%= form.label "タイトル" ,class: "block" %>
            <div class="mt-2">
                <%= form.text_field :title , placeholder: "生産ライン名" ,class: "rounded-md block min-w-0 outline-gray-300 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"%>
            </div>
          </div>
        </div>
        <%= form.hidden_field :routes %>
        <%= form.hidden_field :operators %>
        <%= form.hidden_field :facilities %>
      </div>
      <div class="flex">
        <div class="">
        <h3 class="mt-5 text-base/7 font-semibold text-gray-900 col-span-2">シミュレーション結果</h3>
          <div class="grid grid-cols-2 gap-x-4 gap-y-2 pl-4 max-w-sm mt-2 mb-5">

              <%= form.label "サイクルタイム", class: "self-center" %>
              <%= form.number_field :cycle_time , size: "10x1", readonly: true ,class: "cursor-default border-none focus:outline-none focus:ring-0"%>

              <%= form.label "ボトルネック工程", class: "self-center" %>
              <%= form.text_area :bottleneck_process , size: "10x1", readonly: true, class: "cursor-default border-none focus:outline-none focus:ring-0 resize-none overflow-hidden"%>

              <%= form.label "待ち時間", class: "self-center" %>
              <%= form.number_field :waiting_time , size: "10x1", readonly: true, class: "cursor-default border-none focus:outline-none focus:ring-0"%>
          </div>
        </div>
      </div>

      <div class="flex md:col-span-2 justify-end border-t py-2">
        <%= form.submit "データを保存", id: 'savesimulation' ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded"%>
      </div>
    </div>
  <% end %>
<% end %>

<h2 class="mt-10 mb-2 text-xl font-semibold text-gray-900">シミュレーション</h2>
  <!-- フォームを含むモーダルダイアログ -->
    <dialog id="facilityDialog" class="transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
    <h3 class="text-base font-semibold text-gray-900" id="modal-title">パラメータ</h3>
      <div id="hidden-id" hidden></div>
      <form id="facility-form" class="grid grid-cols-1 gap-5">
        <div class="grid grid-cols-2 items-center">
          <label for="name" class="flex">設備名</label>
          <input type="text" class="flex" id="name" name="name" maxlength="16" size="15" />
        </div>
        <div class="grid grid-cols-2 items-center">
          <label for="processingTime">加工時間</label>
          <input type="number" id="processingTime" name="name" min="1" max="400" />
        </div>
        <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" id="cancel-btn" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0" formmethod="dialog">取り消し</button>
          <button type="button" id="confirmBtn" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2" value="default">保存</button>
        </div>
      </form>
    </dialog>
    <dialog id="route-dialog" class="transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
    <h3 class="text-base font-semibold text-gray-900" id="modal-route-title">パラメータ</h3>
      <div id="route-hidden-id" hidden></div>
      <form id="route-form" class="grid grid-cols-1 gap-5">
        <div class="grid grid-cols-2 items-center">
          <label for="route-length" class="flex">距離</label>
          <input type="number" class="flex" id="route-length" name="root-length" min="1" max="50" />
        </div>
        <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button type="button" id="route-cancel-btn" value="cancel" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0" formmethod="dialog">取り消し</button>
          <button type="button" id="route-confirm-btn" value="default" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">保存</button>
        </div>
      </form>
    </dialog>

  <div class="pt-1" data-controller="simulationmode" id="simulation-controller">
    <fieldset class="relative -space-y-px rounded-md bg-white">
      <div>
        <fieldset id="modeSelection">
          <div class="grid md:grid-cols-5 items-center gap-4">
            <div class="flex items-center">
              <input id="select" name="edit-mode" type="radio" checked
              data-simulationmode-target="editmode" data-action="simulationmode#edit"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="select" class="ml-2 block text-sm/6 font-medium text-gray-900">選択</label>
            </div>
            <div class="flex items-center">
              <input id="add-facility" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToAddFacility"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="add-facility" class="ml-2 block text-sm/6 font-medium text-gray-900">設備追加</label>
            </div>
            <div class="flex items-center">
              <input id="add-link" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToLink"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="add-link" class="ml-2 block text-sm/6 font-medium text-gray-900">リンク追加</label>
            </div>
            <div class="flex items-center">
              <input id="delete-object" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToDelete"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="delete-object" class="ml-2 block text-sm/6 font-medium text-gray-900">削除</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div id="simulation">
        <button type="button" id="isConsistency" data-action="simulationmode#startSimulation" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">シミュレーション開始</button>
        <button type="button" id="play" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:bg-gray-300" disabled>再生</button>
        <button type="button" id="pause" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:bg-gray-300" disabled>停止</button>
        <input id="progress" class="progress" step=".001" min="0" max="100" value="0" type="range" disabled></input>
        <div id="JSobjectProp">
        <pre class="count">{総生産数}</pre>
      </div>
      </div>
    </fieldset>
  </div>

  <div class="w-full overflow-scroll">
    <svg id="svg02" class="h-[500px] w-[500px] md:w-full" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <marker id="arr" refX="0" refY="1" orient="auto">
          <path d="M0,0 L2,1 0,2 Z" fill="#eab942" />
        </marker>
      </defs>
    </svg>
  </div>
</div>
