<div id ="simulation-data" data-id ="<%= @simulation.id %>"
data-user_id ="<%= @simulation.user_id %>"
data-routes ="<%= @simulation.routes %>"
data-operators ="<%= @simulation.operators %>"
data-facilities ="<%= @simulation.facilities %>">
<span>フォーム</span>
<% if user_signed_in? %>
  <%= form_with(model: @simulation ,url: [current_user , @simulation] ,id: "simulationForm") do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

      <%= form.hidden_field :routes %>
      <%= form.hidden_field :operators %>
      <%= form.hidden_field :facilities %>

    <div>
      <%= form.label :cycle_time, style: "display: block" %>
      <%= form.number_field :cycle_time , size: "10x1", readonly: true%>
    </div>

    <div>
      <%= form.label :bottleneck_process, style: "display: block" %>
      <%= form.text_area :bottleneck_process , size: "10x1", readonly: true%>
    </div>

    <div>
      <%= form.label :waiting_time, style: "display: block" %>
      <%= form.number_field :waiting_time , size: "10x1", readonly: true%>
    </div>

    <div>
      <%= form.submit "save", id: 'savesimulation' ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded"%>
    </div>
  <% end %>
<% end %>
  <div id="JSobjectProp">
    <pre class="count">{"パラメータ":0}</pre>
  </div>
  <!-- フォームを含むモーダルダイアログ -->
    <dialog id="facilityDialog">
    パラメータ
      <div id="hidden-id" hidden></div>
      <form id="facility-form">
        <div>
          <label for="name">設備名</label>
          <input type="text" id="name" name="name" maxlength="16" size="15" />
        </div>
        <div>
          <label for="processingTime">加工時間</label>
          <input type="number" id="processingTime" name="name" min="1" max="400" />
        </div>
        <div>
          <button type="button" id="cancel-btn" formmethod="dialog">取り消し</button>
          <button type="button" id="confirmBtn" value="default">保存</button>
        </div>
      </form>
    </dialog>
    <dialog id="route-dialog">
      パラメータ
      <div id="route-hidden-id" hidden></div>
      <form id="route-form">
        <div>
          <label for="route-length">距離</label>
          <input type="number" id="route-length" name="root-length" min="1" max="50" />
        </div>
        <div>
          <button type="button" id="route-cancel-btn" value="cancel" formmethod="dialog">取り消し</button>
          <button type="button" id="route-confirm-btn" value="default">保存</button>
        </div>
      </form>
    </dialog>

  <div data-controller="simulationmode" id="simulation-controller">
    <fieldset class="relative -space-y-px rounded-md bg-white">
      <label aria-description="edit" class="group flex cursor-pointer border border-gray-200 p-4 first:rounded-tl-md first:rounded-tr-md last:rounded-bl-md last:rounded-br-md focus:outline-none has-[:checked]:relative has-[:checked]:border-indigo-200 has-[:checked]:bg-indigo-50 md:grid md:grid-cols-3 md:pl-4 md:pr-6">
        <span class="flex items-center gap-3">
          <input
            type="radio"
            name="mode"
            id="editMode"
            checked
            data-simulationmode-target="editbutton" data-action="simulationmode#edit"
            class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
          <span class="px-2 font-medium text-gray-900 group-has-[:checked]:text-indigo-900">編集</span>
        </span>
      </label>
      <button type="button" id="checkConsistency" data-action="simulationmode#checkConsistency" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">整合性確認</button>
      <label aria-description="edit" class="group flex cursor-pointer border border-gray-200 p-4 first:rounded-tl-md first:rounded-tr-md last:rounded-bl-md last:rounded-br-md focus:outline-none has-[:checked]:relative has-[:checked]:border-indigo-200 has-[:checked]:bg-indigo-50 md:grid md:grid-cols-3 md:pl-4 md:pr-6">
        <span class="flex items-center gap-3">
          <input
            type="radio"
            name="mode"
            id="simulateMode"
            data-simulationmode-target="simulatebutton" data-action="simulationmode#checkSimulate"
            class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400"
            disabled >
            <span class="px-2 font-medium text-gray-900 group-has-[:checked]:text-indigo-900">実行</span>
        </span>
      </label>
      <div data-simulationmode-target="edit">
        <h3>編集モード</h3>
        <fieldset id="modeSelection">
          <div class="mt-6 space-y-6">
            <div class="flex items-center">
              <input id="select" name="edit-mode" type="radio" checked
              data-simulationmode-target="editmode" data-action="simulationmode#edit"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="select" class="ml-3 block text-sm/6 font-medium text-gray-900">選択</label>
            </div>
            <div class="flex items-center">
              <input id="add-facility" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToAddFacility"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="add-facility" class="ml-3 block text-sm/6 font-medium text-gray-900">設備追加</label>
            </div>
            <div class="flex items-center">
              <input id="add-link" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToLink"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="add-link" class="ml-3 block text-sm/6 font-medium text-gray-900">リンク追加</label>
            </div>
            <div class="flex items-center">
              <input id="delete-object" name="edit-mode" type="radio"
              data-simulationmode-target="editmode" data-action="simulationmode#changeModeToDelete"
              class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
              <label for="delete-object" class="ml-3 block text-sm/6 font-medium text-gray-900">削除</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div data-simulationmode-target="simulate" id="simulation">
        <h3>実行モード</h3>
        <button type="button" id="startSimulation2" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">シミュレーション実行</button>
        <button type="button" id="play" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">再生</button>
        <button type="button" id="pause" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">停止</button>
        <input class="progress" step=".001" min="0" max="100" value="0" type="range"></input>
      </div>
    </fieldset>
  </div>

  <div class="svg-wrapper">

    <svg id="svg02" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
      <defs>
        <marker id="arr" refX="0" refY="1" orient="auto">
          <path d="M0,0 L2,1 0,2 Z" fill="#eab942" />
        </marker>
      </defs>
      <text id="ob1" x="0" y="20">作業者</text>
    </svg>
  </div>
</div>
