<div id ="simulation-data" data-id ="<%= @simulation.id %>"
data-user_id ="<%= @simulation.user_id %>"
data-routes ="<%= @simulation.routes %>"
data-operators ="<%= @simulation.operators %>"
data-facilities ="<%= @simulation.facilities %>">
フォーム
<% if user_signed_in? %>
  <%= form_with(model: @simulation ,url: [current_user , @simulation] ,id: "simulationForm") do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :routes, style: "display: block" %>
      <%= form.text_area :routes %>
    </div>

    <div>
      <%= form.label :operators, style: "display: block" %>
      <%= form.text_area :operators %>
    </div>

    <div>
      <%= form.label :facilities, style: "display: block" %>
      <%= form.text_area :facilities %>
    </div>

    <div>
      <%= form.label :cycle_time, style: "display: block" %>
      <%= form.number_field :cycle_time , size: "10x1", disabled: 'disabled'%>
    </div>

    <div>
      <%= form.label :bottleneck_process, style: "display: block" %>
      <%= form.number_field :bottleneck_process , size: "10x1", disabled: 'disabled'%>
    </div>

    <div>
      <%= form.label :waiting_time, style: "display: block" %>
      <%= form.number_field :waiting_time , size: "10x1", disabled: 'disabled'%>
    </div>

    <div>
      <%= form.submit "save", id: 'savesimulation' ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded"%>
    </div>
  <% end %>
<% end %>
  <div id="JSobjectProp">
    <pre class="count">{"パラメータ":0}</pre>
  </div>
  <!-- フォームを含むモーダルダイアログ -->
    <dialog id="facilityDialog">
    パラメータ
      <div id="hidden-id" hidden></div>
      <form>
        <div>
          <label for="name">設備名</label>
          <input type="text" id="name" name="name" maxlength="16" size="15" />
        </div>
        <div>
          <label for="processingTime">加工時間</label>
          <input type="number" id="processingTime" name="name" min="0" max="400" />
        </div>
        <div>
          <button value="cancel" formmethod="dialog">取り消し</button>
          <button id="confirmBtn" value="default">保存</button>
        </div>
      </form>
    </dialog>
    <dialog id="route-dialog">
      パラメータ
      <div id="route-hidden-id" hidden></div>
      <form>
        <div>
          <label for="route-length">距離</label>
          <input type="number" id="route-length" name="root-length" min="1" max="50" />
        </div>
        <div>
          <button value="cancel" formmethod="dialog">取り消し</button>
          <button id="route-confirm-btn" value="default">保存</button>
        </div>
      </form>
    </dialog>

<div data-controller="simulationmode">
  <button data-simulationmode-target="editbutton" data-action="simulationmode#edit"> 編集へ </button>
  <button data-simulationmode-target="simulatebutton" data-action="simulationmode#checkSimulate"> 実行へ </button>
  <label>
  <input type="checkbox" data-simulationmode-target="toggle" data-action="simulationmode#toggleReadyForExecution">
  実行可能状態にする
  </label>
  <div data-simulationmode-target="edit">
    <h3>編集モード</h3>
  </div>
  <div data-simulationmode-target="simulate">
    <h3>実行モード</h3>
    <button type="button" id="startSimulation2" class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Button text</button>
    <%= button_tag 'Start', {id: "startSimulation", class: "bt"} %>
  </div>
</div>

  <div class="svg-wrapper">

    <svg id="svg02" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
      <text id="ob1" x="0" y="20">object</text>
    </svg>
  </div>
</div>
