<div id ="simulation-data" data-id ="<%= @simulation.id %>"
data-user_id ="<%= @simulation.user_id %>"
data-routes ="<%= @simulation.routes %>"
data-operators ="<%= @simulation.operators %>"
data-facilities ="<%= @simulation.facilities %>">
フォーム
<% if user_signed_in? %>
  <%= form_with(model: @simulation ,url: [current_user , @simulation] ,id: "simulationForm") do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :routes, style: "display: block" %>
      <%= form.text_area :routes %>
    </div>

    <div>
      <%= form.label :operators, style: "display: block" %>
      <%= form.text_area :operators %>
    </div>

    <div>
      <%= form.label :facilities, style: "display: block" %>
      <%= form.text_area :facilities %>
    </div>

    <div>
      <%= form.submit "save", id: 'savesimulation' ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded"%>
    </div>
  <% end %>
<% end %>
  <div id="JSobjectProp">
    <pre class="count">{"パラメータ":0}</pre>
  </div>
  <!-- フォームを含むモーダルダイアログ -->
    <dialog id="favDialog">
    パラメータ
      <form>
        <div>
          <label>設備名</label>
          <input type="text" id="name" name="name" maxlength="8" size="15" />
        </div>


            <select>
              <option value="default">Choose…</option>
              <option>Brine shrimp</option>
              <option>Red panda</option>
              <option>Spider monkey</option>
            </select>
          </label>
        </p>
        <div>
          <button value="cancel" formmethod="dialog">取り消し</button>
          <button id="confirmBtn" value="default">保存</button>
        </div>
      </form>
    </dialog>
    <p>
      <button id="showDialog">Show the dialog</button>
    </p>
<output></output>

  <div class="svg-wrapper">

    <svg id="svg02" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
      <text id="ob1" x="0" y="20">(゜∀゜)</text>
    </svg>
  </div>
</div>
