<div id ="simulation-data" data-id ="<%= @simulation.id %>"
data-user_id ="<%= @simulation.user_id %>"
data-routes ="<%= @simulation.routes %>"
data-operators ="<%= @simulation.operators %>"
data-facilities ="<%= @simulation.facilities %>">
フォーム
<% if user_signed_in? %>
  <%= form_with(model: @simulation ,url: [current_user , @simulation] ) do |form| %>
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :routes, style: "display: block" %>
      <%= form.text_area :routes %>
    </div>
    <%= form.hidden_field :routes, id: 'simulation_parameters_routes' %>
    <%= form.hidden_field :operators, id: 'simulation_parameters_operators' %>
    <%= form.hidden_field :facilities, id: 'simulation_parameters_facilities' %>

    <div>
      <%= form.submit "save", id: 'savesimulation' ,class: "bg-blue-500 text-white font-bold py-2 px-4 rounded"%>
    </div>
  <% end %>
<% end %>
  <div id="JSobjectProp">
    <pre class="count">{"パラメータ":0}</pre>
  </div>
  <div class="svg-wrapper">

    <svg id="svg02" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
      <text id="ob1" x="0" y="20">(゜∀゜)</text>
    </svg>
  </div>
</div>
