<p style="color: green"><%= notice %></p>

<h1>Simulationss</h1>

<div id="simurates">
  <% @simulations.each do |simulation| %>
    <ul>
    <li>
    <%= simulation.id %>
  </li>
      <li>
        <%= simulation.title %>
      </li>
      <li>
        <%= simulation.facilities %>
      </li>
      <li>
        <%= simulation.operators %>
      </li>
      <li>
      <%= simulation.routes %>
    </li>
    <%= link_to edit_user_simulation_path(current_user, simulation) do %>
      編集
    <% end %>
    <%= link_to user_simulation_path(current_user, simulation), data: { turbo_method: :delete } do %>
      削除
    <% end %>
    </ul>
  <% end %>
</div>

