<% set_meta_tags title: 'シミュレーション詳細' %>
<% set_meta_tags description: 'シミュレーションの詳細ページです' %>
<div class="mx-auto max-w-7xl py-5 px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900">シミュレーション詳細</h1>
</div>
<div>
  <ul>
    <li>
      タイトル：<%= @simulation.title %>
    </li>
    <li>
      待ち時間：<%= @simulation.waiting_time %>
    </li>
    <li>
    ネック工程：<%= @simulation.bottleneck_process %>
    </li>
    <li>
    サイクルタイム：<%= @simulation.cycle_time %>
    </li>
  </ul>
  <%= link_to edit_user_simulation_path(current_user, @simulation) do %>
    編集
  <% end %>
  <%= link_to user_simulations_path(current_user) do %>
    一覧ページへ
  <% end %>
</div>

