<p style="color: green"><%= notice %></p>

<h1>Simurates</h1>

<div id="simurates">
  <% @simurates.each do |simurate| %>
    <%= render simurate %>
    <p>
      <%= link_to "Show this simurate", simurate %>
    </p>
  <% end %>
</div>

<%= link_to "New simurate", new_simurate_path %>
<%= button_tag 'Start', {id: "startbutton", class: "aa"} %>

<div class="svg-wrapper">
  <svg id="svg01" xmlns="http://www.w3.org/2000/svg" width="1000" height="500">
    <path class="root0" fill=none stroke="red" d="M 0 0 L 200 300 "/>
    <path class="root1" fill=none stroke="red" d="M 200 300 L 0 150 "/>
    <path class="root2" fill=none stroke="red" d="M 0 150 L 0 0 "/>
    <text class="machine1" x="0" y="20">設備1</text>
    <text id="ob1" x="0" y="0">(゜∀゜)</text>
    <text id="ob2" x="0" y="0">(つ´∀｀)つ</text>
  </svg>
</div>
