<p style="color: green"><%= notice %></p>

<h1>Simurates</h1>

<div id="simurates">
  <% @simurates.each do |simurate| %>
    <%= render simurate %>
    <p>
      <%= link_to "Show this simurate", simurate %>
    </p>
  <% end %>
</div>

<%= link_to "New simurate", new_simurate_path %>
<%= button_tag 'Start', {id: "startbutton", class: "aa"} %>

<div class = "myclass">
Hello World!
</div>
<div id="JSobjectProp">
  <pre class="count">{"パラメータ":0}</pre>
</div>
<div class="svg-wrapper">

  <svg id="svg01" xmlns="http://www.w3.org/2000/svg" width="700" height="800">
    <text id="ob1" x="0" y="20">object2</text>
  </svg>
</div>
