<p style="color: green"><%= notice %></p>

<h1>Simurates</h1>

<div id="simurates">
  <% @simurates.each do |simurate| %>
    <%= render simurate %>
    <p>
      <%= link_to "Show this simurate", simurate %>
    </p>
  <% end %>
</div>

<%= link_to "New simurate", new_simurate_path %>
<%= button_tag 'Start', {id: "startbutton", class: "aa"} %>

<div class = "myclass">
Hello World!
</div>
<div class="svg-wrapper">

  <svg id="svg01" xmlns="http://www.w3.org/2000/svg" width="800" height="300">
    <path class="root0" fill=none stroke="red" d="M 20 200 L 200 80 "/>
    <path class="root1" fill=none stroke="red" d="M 200 80 L 300 200 "/>
    <path class="root2" fill=none stroke="red" d="M 300 200 L 20 200 "/>
    <rect id="machine1" x="180" y="30" width="60" height="30"></rect>
    <text id="ob1" x="0" y="20">(゜∀゜)</text>
  </svg>
</div>
