<p style="color: green"><%= notice %></p>

<%= render @simurate %>

<div>
  <%= link_to "Edit this simurate", edit_simurate_path(@simurate) %> |
  <%= link_to "Back to simurates", simurates_path %>

  <%= button_to "Destroy this simurate", @simurate, method: :delete %>
</div>
