<p style="color: green"><%= notice %></p>

<%= render @simurate %>

<div>
  <%= link_to "Edit this simurate", edit_simurate_path(@simurate) %> |
  <%= link_to "Back to simurates", simurates_path %>

  <%= button_to "Destroy this simurate", @simurate, method: :delete %>


  <div class = "loadText">
    <div>
      <%= button_tag '読み込み', {id: "loadbutton", class: "load"} %>

      <%= button_tag '保存', {id: "savebutton", class: "save"} %>
      <%= button_tag 'データ削除', {id: "clearbutton", class: "save"} %>
    </div>

    <div>

    <div id="simurate-content">
      <%= @simurate.content %>
    </div>
    </div>
    <%= text_field_tag 'name' %>
  </div>
</div>
