<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body class="h-full">
    <% unless current_page?(root_path) %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
    <% unless current_page?(root_path) %>
    <% end %>
    <hr class=" border-gray-200 mt-16" />
    <%= render 'layouts/footer' %>
  </body>
</html>
